.logo-cabecera {
	height: 185px;
	background-image: url(../images/cabecera.png);
	background-position: top center;
	background-repeat: no-repeat;	
}

.logo-bajo {
	background-image: url(../images/mail.png);
	background-position: bottom right;
	background-repeat: no-repeat;	
}
